<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.yc.formalmanagersystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="809"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>
        <activity
            android:name=".activity.SelectPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttachmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdatePersonInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.TimeManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.ChangeAgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyPlanDetailActivity" />
        <activity
            android:name=".activity.ChangeNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyPlanDetailActivity" />
        <activity
            android:name=".activity.ChangeSexActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyPlanDetailActivity" />
        <activity android:name=".activity.ChangePositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyPlanDetailActivity"/>
        <activity
            android:name=".activity.UpdatePlanInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.PhotoSelectFromPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PropertyInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ModifyPropertyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApplyRepairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RepairDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PurchaseDetailActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":bmobpush">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <!-- 用于进程保活 -->
        <service
            android:name="cn.bmob.push.lib.service.PushNotifyService"
            android:process=":bmobpush"></service>
        <service android:name=".services.DownLoadService" />

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name=".broadcastreceiver.MyReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <!-- 接收心跳和唤醒的广播，要和PushService运行在同个进程 -->
        <receiver
            android:name="cn.bmob.push.PushNotifyReceiver"
            android:process=":bmobpush">
            <intent-filter>

                <!-- 接收心跳广播的action -->
                <action android:name="cn.bmob.push.action.HEARTBEAT" />
                <!-- 接收唤醒广播的action -->
                <action android:name="cn.bmob.push.action.NOTIFY" />
            </intent-filter>
        </receiver>


    </application>

</manifest>